@layer base {
  html {
    @apply bg-slate-50 text-gray-700;
  }

  #__next {
    @apply lg:grid lg:grid-cols-[auto_13rem_minmax(0,_65rem)_auto];
  }

  @media screen(xl) {
    #__next.hide-sidebar {
      @apply flex flex-col;
      #_nav {
        @apply hidden;
      }
      main {
        @apply self-center;
      }
    }
  }

  #_nav {
    @apply fixed bottom-0 z-10 w-full border-t bg-white
           lg:relative lg:col-start-2 lg:h-full lg:min-h-[calc(100vh_-_80px)] lg:border-r lg:border-t-0 lg:bg-transparent;
    .nav-link {
      @apply flex w-full flex-col items-center lg:flex-row lg:gap-2 lg:py-2;
    }
  }
  #_nav-inner {
    @apply flex gap-2 p-2 text-[10px]
           lg:sticky lg:top-20 lg:flex-col lg:py-12 lg:px-6 lg:text-base;
  }

  #_header {
    @apply sticky top-0 z-20 translate-y-[var(--header-distance)] bg-white shadow transition-transform
           lg:col-span-full lg:translate-y-0;
  }
  #_header-inner {
    @apply mx-auto flex h-16 max-w-7xl justify-between px-3.5 py-2.5 lg:h-20 lg:px-6;
  }
}
