@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-slate-50 text-gray-700;
  }

  #__next {
    @apply lg:grid lg:grid-cols-[auto_13rem_minmax(0,_65rem)_auto];
  }

  #_nav {
    @apply fixed bottom-0 z-10 w-full border-t bg-white lg:relative lg:col-start-2 lg:h-full lg:min-h-[calc(100vh_-_80px)] lg:border-r lg:border-t-0 lg:bg-transparent;
  }
  #_nav-inner {
    @apply flex gap-2 p-2 text-[10px] lg:sticky lg:top-20 lg:flex-col lg:py-12 lg:px-6 lg:text-base;
  }
  #_nav .nav-link {
    @apply flex w-full flex-col items-center lg:flex-row lg:gap-2 lg:py-2;
  }

  #_header {
    @apply sticky top-0 z-20 translate-y-[var(--scroll-distance)] bg-white shadow lg:col-span-full lg:translate-y-0;
  }
  #_header-inner {
    @apply mx-auto flex h-16 max-w-7xl justify-between px-3.5 py-2.5 lg:h-20 lg:px-6;
  }
}

@layer components {
  .pokemon-elm {
    @apply text-white;
  }
  .pokemon-elm.bg-elm-bug,
  .pokemon-elm.bg-elm-electric,
  .pokemon-elm.bg-elm-ice,
  .pokemon-elm.bg-elm-rock {
    @apply text-inherit;
  }

  .pokemon-card-container {
    @apply grid grid-cols-[repeat(auto-fit,_minmax(243px,_1fr))] gap-3.5;
  }
  .pokemon-card {
    @apply relative grid grid-cols-[auto_1fr_128px] grid-rows-[auto_auto_1fr_auto] overflow-hidden
      rounded-md bg-gray-200 p-4 text-sm text-white;
  }
  .pokemon-card > img {
    @apply col-start-3 row-span-3 row-start-2 -mt-5 drop-shadow-lg transition-transform;
  }
  .pokemon-card.bg-elm-bug,
  .pokemon-card.bg-elm-electric,
  .pokemon-card.bg-elm-ice,
  .pokemon-card.bg-elm-rock {
    @apply text-inherit;
  }
  .pokemon-card > * {
    @apply relative z-[1];
  }
  .pokemon-card > .pokeball-flat {
    @apply right-12 bottom-4 z-0 rotate-12 scale-125;
  }
  .pokemon-card-number {
    @apply mt-2 flex items-center gap-1.5 rounded-full bg-white/60 px-2.5 py-1 font-semibold text-gray-700;
  }

  .pokeball-flat {
    @apply absolute h-[60px] w-[60px] rounded-full bg-white/10;
  }
  .pokeball-flat::before,
  .pokeball-flat::after {
    content: '';
    @apply absolute left-[-50px] top-[-50px] block h-[160px] w-[160px] rounded-full border-[40px] border-white/10;
  }
  .pokeball-flat::before {
    clip-path: polygon(0 0, 100% 0, 100% 75px, 0% 75px);
  }
  .pokeball-flat::after {
    clip-path: polygon(0 85px, 100% 85px, 100% 100%, 0% 100%);
  }

  .sticky-section {
    @apply sticky top-16 z-10 -m-3.5 mb-8 flex translate-y-[var(--scroll-distance)] gap-2.5 px-3.5 py-2.5 lg:top-2 lg:z-30 lg:-mx-6 lg:-mt-10 lg:mb-0 lg:translate-y-0 lg:py-3 lg:px-6;
  }

  .pokeball {
    @apply relative h-12 w-12 overflow-hidden rounded-full bg-white shadow;
  }
  .pokeball::before {
    content: '';
    @apply absolute top-3 block h-5 w-14 -translate-x-1 rounded-[100%] border-[3px] border-black bg-rose-400;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
  }
  .pokeball::after {
    content: '';
    @apply absolute top-0 block h-1/2 w-full bg-rose-400;
  }
  .pokeball-button {
    @apply absolute top-4 left-4 z-[1] mt-0.5 h-3.5 w-3.5 rounded-full border-[3px] border-black bg-white;
    transform: rotateX(-13deg) rotateY(0deg) translateZ(1.5rem);
    backface-visibility: hidden;
  }

  .pokeball-animate {
    --bounce-distance: 16%;
    --bounce-base: -150px;
    animation: bouncePokeball 2.1s forwards;
  }
  @media screen(md) {
    .pokeball-animate {
      --bounce-distance: calc(100vw - 33rem);
      --bounce-base: -90px;
    }
  }
  @media screen(lg) {
    .pokeball-animate {
      --bounce-distance: calc(95vw - 46rem);
    }
  }
  @media screen(xl) {
    .pokeball-animate {
      --bounce-distance: 29.5rem;
    }
  }
  @keyframes bouncePokeball {
    0% {
      transform: translateY(0);
      margin-left: 0;
    }
    24% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translateY(-385px) scaleY(1.1) scaleX(1);
    }
    40% {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translateY(calc(var(--bounce-base))) scaleY(0.95) scaleX(1.05);
    }
    60% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translateY(calc(-295px - var(--bounce-base) * 0.1)) scaleY(1.05) scaleX(1);
    }
    74% {
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translateY(calc(var(--bounce-base))) scaleY(0.95);
    }
    90% {
      transform: translateY(calc(var(--bounce-base) - 32px)) scaleY(1.02);
    }
    100% {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translateY(calc(var(--bounce-base)));
      margin-left: var(--bounce-distance);
    }
  }

  .pokeball-animate .pokeball-button {
    animation: orbit 4.5 0.5s linear forwards;
  }
  @keyframes orbit {
    from {
      transform: rotateX(-13deg) rotateY(0deg) translateZ(1.5rem);
    }
    to {
      transform: rotateX(-13deg) rotateY(-360deg) translateZ(1.5rem);
    }
  }

  .pokeball-shake {
    animation: shake 1s 2 2.9s;
  }
  @keyframes shake {
    0 {
      transform: translate(0) rotate(0);
      transform-origin: bottom center;
    }
    20% {
      transform: translate(-10px) rotate(-15deg);
    }
    30% {
      transform: translate(10px) rotate(15deg);
    }
    45% {
      transform: translate(-10px) rotate(-10deg);
    }
    100% {
      transform: translate(0) rotate(0);
    }
  }

  .pokeball-fade-out {
    animation: fade-out 0.6s ease-in forwards;
  }
  .pokeball-fade-out-delayed {
    animation: fade-out 0.6s ease-in forwards 2s;
  }
  .pokeball-fade-out .pokeball-button,
  .pokeball-fade-out-delayed .pokeball-button {
    @apply hidden;
  }
  @keyframes fade-out {
    from {
      @apply opacity-100;
    }
    to {
      @apply opacity-0;
    }
  }

  .pokeball-explosion {
    @apply absolute rounded-full;
    animation: explosion 0.7s linear forwards 2.2s;
  }
  .pokeball-explosion + .pokeball-explosion {
    animation-delay: 2.4s;
  }
  @keyframes explosion {
    from {
      @apply h-16 w-16 border-8 border-white/60 opacity-100;
    }
    to {
      @apply h-40 w-40 opacity-0;
    }
  }

  .pokemon-shrinking {
    animation: shrink 0.6s ease-in forwards 1.6s;
  }
  .pokemon-release {
    @apply origin-bottom-left opacity-20;
    transform: scale(0.001);
    animation: shrink reverse 0.6s ease-in forwards;
  }
  .pokemon-release-delayed {
    @apply origin-bottom-left opacity-20;
    transform: scale(0.001);
    animation: shrink reverse 0.6s ease-in forwards 2s;
  }
  @keyframes shrink {
    from {
      @apply scale-100 opacity-100;
    }
    to {
      @apply origin-bottom-left opacity-20;
      transform: scale(0.001);
    }
  }

  .pokeball-caught-info {
    @apply pointer-events-none absolute -top-12 left-1/2 -translate-x-1/2 rounded-md bg-gray-700 px-3 py-1 font-semibold text-white opacity-0;
    animation: fade-up-then-out 2s ease forwards;
  }
  .pokeball-caught-info::before {
    content: '';
    @apply absolute bottom-0 left-1/2 inline-block translate-y-[100%] -translate-x-1/2 border-8 border-transparent border-t-gray-700;
  }
  @keyframes fade-up-then-out {
    0% {
      @apply translate-y-6 opacity-0;
    }
    20% {
      @apply translate-y-0 opacity-100;
    }
    80% {
      @apply translate-y-0 opacity-100;
    }
    100% {
      @apply translate-y-0 opacity-0;
    }
  }
}
